#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?

1. AA - 1722 | UA - 1738 | DL - 1137 |WN - 1026|B6 - 321|AS - 296|NK - 147|F9 - 134|G4 - 92|HA - 44|VX - 28
2.

In [29]:
import pandas as pd
pd.set_option('display.max_columns', None)
df1 = pd.read_csv("flight.csv")
df1.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-10-26,AA,AA,AA,2199,AA,N916NN,2199,15376,TUS,"Tucson, AZ",11298,DFW,"Dallas/Fort Worth, TX",1302,1302.0,0.0,15.0,1317.0,1710.0,13.0,1717,1723.0,6.0,0.0,NaN,0.0,N,135.0,141.0,113.0,1.0,813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-10-08,DL,DL_CODESHARE,DL,6290,G7,N376CA,6290,11433,DTW,"Detroit, MI",11537,ELM,"Elmira/Corning, NY",1740,1734.0,-6.0,12.0,1746.0,1835.0,5.0,1852,1840.0,-12.0,0.0,NaN,0.0,N,72.0,66.0,49.0,1.0,332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-13,AS,AS,AS,1302,AS,N283VA,1302,14771,SFO,"San Francisco, CA",13204,MCO,"Orlando, FL",700,713.0,13.0,20.0,733.0,1527.0,7.0,1535,1534.0,-1.0,0.0,NaN,0.0,N,335.0,321.0,294.0,1.0,2446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-22,UA,UA,UA,1175,UA,N775UA,1175,14771,SFO,"San Francisco, CA",12173,HNL,"Honolulu, HI",845,905.0,20.0,19.0,924.0,1051.0,5.0,1104,1056.0,-8.0,0.0,NaN,0.0,N,319.0,291.0,267.0,1.0,2398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-10,AA,AA_CODESHARE,AA,3460,MQ,N245NN,3460,13485,MSN,"Madison, WI",11298,DFW,"Dallas/Fort Worth, TX",1325,1320.0,-5.0,9.0,1329.0,1531.0,8.0,1550,1539.0,-11.0,0.0,NaN,0.0,N,145.0,139.0,122.0,1.0,821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
columns = ['fl_date','mkt_carrier','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay','dep_delay']
df2= df1[columns].dropna()
df2.head()
date = df2['fl_date'].str.split(pat = '-', expand=True)
df2[['Year','Month','Day']] = date
new_col = ['Year','Month','Day','mkt_carrier','carrier_delay','weather_delay','nas_delay','security_delay','late_aircraft_delay','dep_delay']
df3 = df2[new_col]
df4 = df3.loc[df3['mkt_carrier']=='AA']
df5 = df4['Month'].value_counts().mean()
df5

1722.0833333333333

In [71]:
def carrier(str):
    df4 = df3.loc[df3['mkt_carrier']==str]
    df5 = df4['Month'].value_counts().mean()
    return df5

In [73]:
#df3['mkt_carrier'].value_counts()

In [74]:
carrier('AA')

1722.0833333333333

In [137]:
list_carrier = ['AA','UA','DL','WN','B6','AS','NK','F9','G4','HA','VX']

In [138]:
def all():
    for x in list_carrier:      
        print(carrier(x))

In [155]:
all()

1722.0833333333333
1378.75
1137.4166666666667
1026.75
321.4166666666667
296.0
147.66666666666666
134.08333333333334
92.83333333333333
44.583333333333336
28.0

In [154]:
# a = []
# a.append(all())
# b = list_carrier
# res = {a[i]: b[i] for i in range(len(b))}

In [175]:
column = ['fl_date','mkt_carrier','distance']
df2 = df1[column]
date = df2['fl_date'].str.split(pat = '-', expand=True)
df2[['Year','Month','Day']] = date
newcolumns = ['Month','mkt_carrier','distance']
df3 = df2[newcolumns].dropna()
df3.value_counts()

KeyError: "['fl_date', 'mkt_carrier'] not in index"

In [177]:
df1 = pd.read_csv("passenger.csv")
df1.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0.0,13.0,16900.0,78.0,3.0,0.0,562.0,28.0,240.0,188.0,V8,20346,Iliamna Air Taxi,D,V8,Iliamna Air Taxi,1,5,14046,34046,PDB,"Pedro Bay, AK",US,United States,12321,32321,ILI,"Iliamna, AK",US,United States,0,35,1,2015,10,1,F,DU
1,0.0,1.0,28607.0,60.0,48.0,0.0,0.0,677.0,86.0,76.0,AMQ,20201,Ameristar Air Cargo,D,AMQ,Ameristar Air Cargo,1,4,11049,31049,CLL,"College Station/Bryan, TX",US,United States,10693,30693,BNA,"Nashville, TN",US,United States,6,620,1,2016,2,2,L,DU
2,17.0,17.0,3627630.0,0.0,0.0,1228229.0,0.0,812.0,2376.0,1992.0,ABX,20453,ABX Air Inc,D,ABX,ABX Air Inc,2,2,11193,33105,CVG,"Cincinnati, OH",US,United States,11298,30194,DFW,"Dallas/Fort Worth, TX",US,United States,6,625,2,2015,10,2,G,DU
3,1.0,1.0,20210.0,79.0,64.0,0.0,0.0,1031.0,201.0,183.0,YV,20378,Mesa Airlines Inc.,D,YV,Mesa Airlines Inc.,2,2,14689,34689,SBA,"Santa Barbara, CA",US,United States,10279,30279,AMA,"Amarillo, TX",US,United States,6,638,1,2016,8,3,F,DU
4,54.0,54.0,1177362.0,4104.0,3082.0,0.0,0.0,931.0,8287.0,6700.0,YX,20452,Republic Airline,D,YX,Republic Airline,2,2,13487,31650,MSP,"Minneapolis, MN",US,United States,11278,30852,DCA,"Washington, DC",US,United States,6,673,1,2017,4,2,F,DU

In [190]:
df2

passengers  carrier
0.0         FX         16579
            5X          8904
            7S          4419
            DL          3419
            5Y          2546
                       ...
2414.0      EV             1
            DL             1
            BA             1
            AA             1
88925.0     HA             1
Length: 134916, dtype: int64

In [198]:
columns = ['passengers','carrier']
df2 = df1[columns]
df2.loc[df2['passengers']==0]

        passengers carrier
2              0.0     ABX
5              0.0      NC
8              0.0      J5
11             0.0      5Y
14             0.0      5X
...            ...     ...
399962         0.0      7S
399966         0.0     1UQ
399970         0.0      YV
399989         0.0      7S
399991         0.0      FX

[73625 rows x 2 columns]