In [45]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("flight.csv")
df1.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-10-26,AA,AA,AA,2199,AA,N916NN,2199,15376,TUS,"Tucson, AZ",11298,DFW,"Dallas/Fort Worth, TX",1302,1302.0,0.0,15.0,1317.0,1710.0,13.0,1717,1723.0,6.0,0.0,NaN,0.0,N,135.0,141.0,113.0,1.0,813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-10-08,DL,DL_CODESHARE,DL,6290,G7,N376CA,6290,11433,DTW,"Detroit, MI",11537,ELM,"Elmira/Corning, NY",1740,1734.0,-6.0,12.0,1746.0,1835.0,5.0,1852,1840.0,-12.0,0.0,NaN,0.0,N,72.0,66.0,49.0,1.0,332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-13,AS,AS,AS,1302,AS,N283VA,1302,14771,SFO,"San Francisco, CA",13204,MCO,"Orlando, FL",700,713.0,13.0,20.0,733.0,1527.0,7.0,1535,1534.0,-1.0,0.0,NaN,0.0,N,335.0,321.0,294.0,1.0,2446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-22,UA,UA,UA,1175,UA,N775UA,1175,14771,SFO,"San Francisco, CA",12173,HNL,"Honolulu, HI",845,905.0,20.0,19.0,924.0,1051.0,5.0,1104,1056.0,-8.0,0.0,NaN,0.0,N,319.0,291.0,267.0,1.0,2398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-10,AA,AA_CODESHARE,AA,3460,MQ,N245NN,3460,13485,MSN,"Madison, WI",11298,DFW,"Dallas/Fort Worth, TX",1325,1320.0,-5.0,9.0,1329.0,1531.0,8.0,1550,1539.0,-11.0,0.0,NaN,0.0,N,145.0,139.0,122.0,1.0,821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

59% of flights occur in the PM, taxi time during PM is on average ~9.85min    
41% of flights occur in the AM, taxi time during AM is on average ~9.82min
higher traffic does not necessarily lead to bigger taxi time

In [10]:
pd.set_option('display.max_columns', None)
df1.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-10-26,AA,AA,AA,2199,AA,N916NN,2199,15376,TUS,"Tucson, AZ",11298,DFW,"Dallas/Fort Worth, TX",1302,1302.0,0.0,15.0,1317.0,1710.0,13.0,1717,1723.0,6.0,0.0,NaN,0.0,N,135.0,141.0,113.0,1.0,813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-10-08,DL,DL_CODESHARE,DL,6290,G7,N376CA,6290,11433,DTW,"Detroit, MI",11537,ELM,"Elmira/Corning, NY",1740,1734.0,-6.0,12.0,1746.0,1835.0,5.0,1852,1840.0,-12.0,0.0,NaN,0.0,N,72.0,66.0,49.0,1.0,332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-13,AS,AS,AS,1302,AS,N283VA,1302,14771,SFO,"San Francisco, CA",13204,MCO,"Orlando, FL",700,713.0,13.0,20.0,733.0,1527.0,7.0,1535,1534.0,-1.0,0.0,NaN,0.0,N,335.0,321.0,294.0,1.0,2446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-22,UA,UA,UA,1175,UA,N775UA,1175,14771,SFO,"San Francisco, CA",12173,HNL,"Honolulu, HI",845,905.0,20.0,19.0,924.0,1051.0,5.0,1104,1056.0,-8.0,0.0,NaN,0.0,N,319.0,291.0,267.0,1.0,2398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-10,AA,AA_CODESHARE,AA,3460,MQ,N245NN,3460,13485,MSN,"Madison, WI",11298,DFW,"Dallas/Fort Worth, TX",1325,1320.0,-5.0,9.0,1329.0,1531.0,8.0,1550,1539.0,-11.0,0.0,NaN,0.0,N,145.0,139.0,122.0,1.0,821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df1['taxi_time'] = df1['taxi_out'] - df1['taxi_in']
df1['Time_Of_Day'] = np.where(df1['dep_time']<= 1200,'AM','PM')
columns = ['taxi_time','dep_time','Time_Of_Day']
df2 = df1[columns]
night_time = df2.loc[df2['Time_Of_Day']=='PM']
night_time.describe()
#day_time = df2.loc[df2['Time_Of_Day']=='AM']
#day_time.describe()

#night_time.shape
#236156/400000

           taxi_time       dep_time
count  229153.000000  229536.000000
mean        9.855206    1691.002784
std        11.927453     305.411419
min      -172.000000    1201.000000
25%         4.000000    1431.000000
50%         8.000000    1702.000000
75%        14.000000    1934.000000
max       166.000000    2400.000000

In [ ]:
#taxi in - taxi out -> create new column
#specify certain periods, and specify times i.e. 6am - 10am (Morning)
#focus on departure time -> turn column into 2 categories
#create another new column -> 2 cate
#plot visualize taxi time vs different time period i.e. histogram
#How taxi time changes during the day 
#count higher traffic