In [2]:
import pandas as pd
import numpy as np
df1 = pd.read_csv("flight.csv")
pd.set_option('display.max_columns', None)
df1.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-10-26,AA,AA,AA,2199,AA,N916NN,2199,15376,TUS,"Tucson, AZ",11298,DFW,"Dallas/Fort Worth, TX",1302,1302.0,0.0,15.0,1317.0,1710.0,13.0,1717,1723.0,6.0,0.0,NaN,0.0,N,135.0,141.0,113.0,1.0,813.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-10-08,DL,DL_CODESHARE,DL,6290,G7,N376CA,6290,11433,DTW,"Detroit, MI",11537,ELM,"Elmira/Corning, NY",1740,1734.0,-6.0,12.0,1746.0,1835.0,5.0,1852,1840.0,-12.0,0.0,NaN,0.0,N,72.0,66.0,49.0,1.0,332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-13,AS,AS,AS,1302,AS,N283VA,1302,14771,SFO,"San Francisco, CA",13204,MCO,"Orlando, FL",700,713.0,13.0,20.0,733.0,1527.0,7.0,1535,1534.0,-1.0,0.0,NaN,0.0,N,335.0,321.0,294.0,1.0,2446.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-22,UA,UA,UA,1175,UA,N775UA,1175,14771,SFO,"San Francisco, CA",12173,HNL,"Honolulu, HI",845,905.0,20.0,19.0,924.0,1051.0,5.0,1104,1056.0,-8.0,0.0,NaN,0.0,N,319.0,291.0,267.0,1.0,2398.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-06-10,AA,AA_CODESHARE,AA,3460,MQ,N245NN,3460,13485,MSN,"Madison, WI",11298,DFW,"Dallas/Fort Worth, TX",1325,1320.0,-5.0,9.0,1329.0,1531.0,8.0,1550,1539.0,-11.0,0.0,NaN,0.0,N,145.0,139.0,122.0,1.0,821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### **Task 6**: How many states cover 50% of US air traffic?

9 states & Washington D.C.

In [157]:
columnz = ['origin_city_name','dest_city_name'] 
df2 = df1[columnz]
state = df2['origin_city_name'].str.split(pat = ',', expand=True)
state.columns=['Original_City','Original_State']
# state2 = df2['dest_city_name'].str.split(pat = ',', expand=True)
# state2.columns=['Dest_City','Dest_State']
# result = pd.concat([state,state2],axis=1)
countz = state['Original_State'].value_counts()
countz.shape
countz.sum


     
    

39756+28709+25265+20969+20829+18404+15696+12092+11909+11471

205100

In [155]:
countz

 CA    43927
 TX    39756
 FL    28709
 IL    25265
 GA    20969
 NY    20829
 NC    18404
 CO    15696
 PA    12092
 DC    11909
 WA    11471
 MI    11204
 AZ    10268
 NV     9307
 OH     9144
 MN     8456
 NJ     8434
 MA     7763
 MO     7480
 TN     7107
 UT     6307
 HI     5999
 OR     5717
 MD     5427
 LA     4288
 VA     3893
 IN     3645
 WI     3617
 SC     3514
 AL     2320
 OK     2278
 AK     2153
 KY     2025
 ID     1672
 NM     1652
 NE     1650
 AR     1622
 IA     1578
 CT     1560
 MT     1537
 PR     1490
 RI     1064
 ND     1051
 ME     1035
 KS      816
 SD      783
 MS      777
 VT      585
 NH      576
 WY      520
 WV      382
 VI      192
 TT       85
Name: Original_State, dtype: int64

In [161]:
def fifty():
    for c in countz:
        c = c+1
    return c