#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

In [9]:
import pandas as pd
df1 = pd.read_csv("passenger.csv")
pd.set_option('display.max_columns', None)
df1.head()

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,unique_carrier,airline_id,unique_carrier_name,region,carrier,carrier_name,carrier_group,carrier_group_new,origin_airport_id,origin_city_market_id,origin,origin_city_name,origin_country,origin_country_name,dest_airport_id,dest_city_market_id,dest,dest_city_name,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
0,0.0,13.0,16900.0,78.0,3.0,0.0,562.0,28.0,240.0,188.0,V8,20346,Iliamna Air Taxi,D,V8,Iliamna Air Taxi,1,5,14046,34046,PDB,"Pedro Bay, AK",US,United States,12321,32321,ILI,"Iliamna, AK",US,United States,0,35,1,2015,10,1,F,DU
1,0.0,1.0,28607.0,60.0,48.0,0.0,0.0,677.0,86.0,76.0,AMQ,20201,Ameristar Air Cargo,D,AMQ,Ameristar Air Cargo,1,4,11049,31049,CLL,"College Station/Bryan, TX",US,United States,10693,30693,BNA,"Nashville, TN",US,United States,6,620,1,2016,2,2,L,DU
2,17.0,17.0,3627630.0,0.0,0.0,1228229.0,0.0,812.0,2376.0,1992.0,ABX,20453,ABX Air Inc,D,ABX,ABX Air Inc,2,2,11193,33105,CVG,"Cincinnati, OH",US,United States,11298,30194,DFW,"Dallas/Fort Worth, TX",US,United States,6,625,2,2015,10,2,G,DU
3,1.0,1.0,20210.0,79.0,64.0,0.0,0.0,1031.0,201.0,183.0,YV,20378,Mesa Airlines Inc.,D,YV,Mesa Airlines Inc.,2,2,14689,34689,SBA,"Santa Barbara, CA",US,United States,10279,30279,AMA,"Amarillo, TX",US,United States,6,638,1,2016,8,3,F,DU
4,54.0,54.0,1177362.0,4104.0,3082.0,0.0,0.0,931.0,8287.0,6700.0,YX,20452,Republic Airline,D,YX,Republic Airline,2,2,13487,31650,MSP,"Minneapolis, MN",US,United States,11278,30852,DCA,"Washington, DC",US,United States,6,673,1,2017,4,2,F,DU

In [34]:
2.181913e+05

218191.3

In [36]:
conditions = [
    (df2['freight'] <= 1000),
    (df2['freight'] > 1000) & (df2['freight'] <= 100000),
    (df2['freight'] > 100000)
    ]
values = ['']