In [58]:
import os
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import pickle

def make_csv(query, filename):
   
    # check if file already exists
    if os.path.exists(filename):
        df = pd.read_csv(filename)
        return df
    # ensure all columns are displayed when viewing a pandas dataframe
    pd.set_option('display.max_columns', None)
    
    # Creating a connection to the database
    print("creating conecction...")
    con = psycopg2.connect(database="mid_term_project", 
                           user="lhl_student", 
                           password="lhl_student", 
                           host="lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com", 
                           port="5432")


    # creating a cursor object
    cur = con.cursor()
    # running an sql query
    print("running query...")
    cur.execute(query)
    # Storing the result
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]

    con.close()

    # writing the csv file
    print("writing file...")
    df = pd.DataFrame(rows, columns=cols)
    df.to_csv(filename, index=False)
    
    print('Done')
    
    return df

In [166]:
#create test data
make_csv("SELECT fl_date, mkt_unique_carrier, mkt_carrier_fl_num, origin, dest, distance FROM flights_test WHERE fl_date <= '2020-01-07'", "testdata")

creating conecction...
running query...
writing file...
Done

          fl_date mkt_unique_carrier  mkt_carrier_fl_num origin dest  distance
0      2020-01-01                 WN                5888    ONT  SFO       363
1      2020-01-01                 WN                6276    ONT  SFO       363
2      2020-01-01                 WN                4598    ONT  SJC       333
3      2020-01-01                 WN                4761    ONT  SJC       333
4      2020-01-01                 WN                5162    ONT  SJC       333
...           ...                ...                 ...    ...  ...       ...
150618 2020-01-07                 DL                4813    DTW  JFK       509
150619 2020-01-07                 DL                4814    GSP  LGA       610
150620 2020-01-07                 DL                4815    ATL  XNA       589
150621 2020-01-07                 DL                4815    XNA  ATL       589
150622 2020-01-07                 DL                4816    PWM  LGA       269

[150623 rows x 6 columns]

In [167]:
#import trainging data
data=pd.read_csv("sample3")
data

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,arr_delay,cancelled,cancellation_code,diverted,dup,crs_elapsed_time,actual_elapsed_time,air_time,flights,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-12-29,AA,AA_CODESHARE,AA,2971,OO,N719SK,2971,14489,RDM,"Bend/Redmond, OR",12892,LAX,"Los Angeles, CA",600,626.0,26.0,27.0,653.0,838.0,44.0,828,922.0,54.0,0.0,NaN,0.0,N,148.0,176.0,105.0,1.0,726.0,26.0,0.0,28.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2018-03-30,NK,NK,NK,567,NK,N669NK,567,11433,DTW,"Detroit, MI",10397,ATL,"Atlanta, GA",2111,2115.0,4.0,10.0,2125.0,2304.0,9.0,2315,2313.0,-2.0,0.0,NaN,0.0,N,124.0,118.0,99.0,1.0,594.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-02-24,WN,WN,WN,3691,WN,N8510E,3691,11292,DEN,"Denver, CO",15304,TPA,"Tampa, FL",1640,1642.0,2.0,11.0,1653.0,2140.0,5.0,2155,2145.0,-10.0,0.0,NaN,0.0,N,195.0,183.0,167.0,1.0,1506.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-16,AS,AS,AS,544,AS,N277AK,544,10299,ANC,"Anchorage, AK",14747,SEA,"Seattle, WA",135,145.0,10.0,7.0,152.0,545.0,19.0,605,604.0,-1.0,0.0,NaN,0.0,N,210.0,199.0,173.0,1.0,1448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-03-23,AA,AA_CODESHARE,AA,3354,MQ,N854AE,3354,13931,ORF,"Norfolk, VA",12953,LGA,"New York, NY",1052,1119.0,27.0,25.0,1144.0,1244.0,4.0,1228,1248.0,20.0,0.0,NaN,0.0,N,96.0,89.0,60.0,1.0,296.0,20.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018-11-05,UA,UA,UA,314,UA,N779UA,314,12892,LAX,"Los Angeles, CA",11292,DEN,"Denver, CO",1335,1330.0,-5.0,11.0,1341.0,1632.0,4.0,1648,1636.0,-12.0,0.0,NaN,0.0,N,133.0,126.0,111.0,1.0,862.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99996,2018-01-18,DL,DL,DL,2849,DL,N919AT,2849,14869,SLC,"Salt Lake City, UT",12889,LAS,"Las Vegas, NV",1650,1645.0,-5.0,11.0,1656.0,1653.0,10.0,1724,1703.0,-21.0,0.0,NaN,0.0,N,94.0,78.0,57.0,1.0,368.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99997,2018-10-31,DL,DL_CODESHARE,DL,5251,9E,N8936A,5251,11778,FSM,"Fort Smith, AR",10397,ATL,"Atlanta, GA",1530,1519.0,-11.0,9.0,1528.0,1746.0,11.0,1805,1757.0,-8.0,0.0,NaN,0.0,N,95.0,98.0,78.0,1.0,579.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99998,2018-08-29,DL,DL_CODESHARE,DL,4605,OO,N498CA,4605,10185,AEX,"Alexandria, LA",10397,ATL,"Atlanta, GA",600,556.0,-4.0,13.0,609.0,828.0,8.0,851,836.0,-15.0,0.0,NaN,0.0,N,111.0,100.0,79.0,1.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99999,2018-02-10,WN,WN,WN,3253,WN,NaN,3253,13232,MDW,"Chicago, IL",12889,LAS,"Las Vegas, NV",630,NaN,NaN,NaN,NaN,NaN,NaN,835,NaN,NaN,1.0,B,0.0,N,245.0,NaN,NaN,1.0,1521.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
testdata = pd.read_csv("testdata")
testdata.shape

(150623, 6)

In [6]:
testdata

       mkt_unique_carrier tail_num origin dest  distance
0                      WN   N951WN    ONT  SFO       363
1                      WN   N467WN    ONT  SFO       363
2                      WN   N7885A    ONT  SJC       333
3                      WN   N551WN    ONT  SJC       333
4                      WN   N968WN    ONT  SJC       333
...                   ...      ...    ...  ...       ...
150618                 DL   N605LR    DTW  JFK       509
150619                 DL   N919XJ    GSP  LGA       610
150620                 DL   N936XJ    ATL  XNA       589
150621                 DL   N936XJ    XNA  ATL       589
150622                 DL   N917XJ    PWM  LGA       269

[150623 rows x 5 columns]

In [169]:
#creating a new column that takes the average arrival delay per air carrier
testdata['avg_delay_carrier'] = testdata['mkt_unique_carrier'].replace({
    'F9':12.547912,
    'B6':11.109981,
    'G4':9.670382,
    'UA':9.058796,
    'AA':6.891671,
    'NK':4.832506,
    'VX':4.034783,
    'WN':3.896911,
    'HA':2.718777,
    'DL':2.489861,
    'AS':0.468218
})

In [171]:
#looking at avg delay per airport
origindelays = data[['origin','arr_delay']].groupby(['origin'])['arr_delay'].mean().sort_values()
origindelays

origin
GST    -26.000000
PIR    -21.000000
ROP    -20.000000
INL    -19.285714
GCC    -18.142857
          ...
USA     93.058824
XWA    108.600000
PQI    113.400000
LBL    128.666667
CYS    137.666667
Name: arr_delay, Length: 368, dtype: float64

In [172]:
testdata['origindelays']=testdata['origin']

In [173]:
testdata['origindelays'] = testdata['origindelays'].replace(origindelays)

In [174]:
testdata

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,origin,dest,distance,avg_delay_carrier,origindelays
0,2020-01-01,WN,5888,ONT,SFO,363,3.896911,1.303333
1,2020-01-01,WN,6276,ONT,SFO,363,3.896911,1.303333
2,2020-01-01,WN,4598,ONT,SJC,333,3.896911,1.303333
3,2020-01-01,WN,4761,ONT,SJC,333,3.896911,1.303333
4,2020-01-01,WN,5162,ONT,SJC,333,3.896911,1.303333
...,...,...,...,...,...,...,...,...
150618,2020-01-07,DL,4813,DTW,JFK,509,2.489861,2.926685
150619,2020-01-07,DL,4814,GSP,LGA,610,2.489861,11.201005
150620,2020-01-07,DL,4815,ATL,XNA,589,2.489861,3.599076
150621,2020-01-07,DL,4815,XNA,ATL,589,2.489861,4.144385
150622,2020-01-07,DL,4816,PWM,LGA,269,2.489861,16.165775

In [175]:
#dest delay for destinations
destdelays = data[['dest','arr_delay']].groupby(['dest'])['arr_delay'].mean().sort_values()
destdelays

dest
ATY    -24.800000
PIR    -18.500000
ABR    -17.833333
SLN    -16.166667
SHD    -14.750000
          ...
HGR     85.000000
BKG     92.000000
PQI    129.666667
PUB    144.400000
HYA    199.000000
Name: arr_delay, Length: 369, dtype: float64

In [176]:
testdata['destdelays'] = testdata['dest']
testdata['destdelays'] = testdata['destdelays'].replace(destdelays)

In [177]:
testdata

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,origin,dest,distance,avg_delay_carrier,origindelays,destdelays
0,2020-01-01,WN,5888,ONT,SFO,363,3.896911,1.303333,10.743182
1,2020-01-01,WN,6276,ONT,SFO,363,3.896911,1.303333,10.743182
2,2020-01-01,WN,4598,ONT,SJC,333,3.896911,1.303333,1.697337
3,2020-01-01,WN,4761,ONT,SJC,333,3.896911,1.303333,1.697337
4,2020-01-01,WN,5162,ONT,SJC,333,3.896911,1.303333,1.697337
...,...,...,...,...,...,...,...,...,...
150618,2020-01-07,DL,4813,DTW,JFK,509,2.489861,2.926685,4.556325
150619,2020-01-07,DL,4814,GSP,LGA,610,2.489861,11.201005,10.85555
150620,2020-01-07,DL,4815,ATL,XNA,589,2.489861,3.599076,0.568306
150621,2020-01-07,DL,4815,XNA,ATL,589,2.489861,4.144385,2.985783
150622,2020-01-07,DL,4816,PWM,LGA,269,2.489861,16.165775,10.85555

In [178]:
testdata.isnull().sum()

fl_date               0
mkt_unique_carrier    0
mkt_carrier_fl_num    0
origin                0
dest                  0
distance              0
avg_delay_carrier     0
origindelays          0
destdelays            0
dtype: int64

In [179]:
#dropping origins/destinations that did not exist
testdata.drop(testdata[(testdata['dest']=='SMX')].index, inplace=True)
testdata.drop(testdata[(testdata['origin']=='SMX')].index, inplace=True)

In [180]:
testdata.drop(testdata[(testdata['dest']=='OWB')].index, inplace=True)
testdata.drop(testdata[(testdata['origin']=='OWB')].index, inplace=True)

In [181]:
testdata.drop(testdata[(testdata['dest']=='BFM')].index, inplace=True)
testdata.drop(testdata[(testdata['origin']=='BFM')].index, inplace=True)
testdata.drop(testdata[(testdata['dest']=='OGS')].index, inplace=True)
testdata.drop(testdata[(testdata['origin']=='OGS')].index, inplace=True)

In [182]:
#loading in my model from trainging
filename = 'finalized_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))

In [184]:
#submitting my test data
X = testdata.drop(['fl_date', 'mkt_unique_carrier', 'mkt_carrier_fl_num', 'origin', 'dest'],axis=1).values
X

array([[363, 3.896911, 1.3033333333333332, 10.743181818181819],
       [363, 3.896911, 1.3033333333333332, 10.743181818181819],
       [333, 3.896911, 1.3033333333333332, 1.6973365617433414],
       ...,
       [589, 2.489861, 3.599076490664525, 0.5683060109289617],
       [589, 2.489861, 4.144385026737968, 2.9857829813924317],
       [269, 2.489861, 16.165775401069517, 10.85555016965584]],
      dtype=object)

In [185]:
#running model on test data, predicting delay
y_pred = loaded_model.predict(X)
y_pred

array([ 6.0389723 ,  6.0389723 , -1.73500738, ..., -1.41964261,
        1.1363804 , 18.59325167])

In [186]:
#take predicted values and slap them into a column of testdata
testdata['predicted_delay'] = y_pred

In [187]:
testdata

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,origin,dest,distance,avg_delay_carrier,origindelays,destdelays,predicted_delay
0,2020-01-01,WN,5888,ONT,SFO,363,3.896911,1.303333,10.743182,6.038972
1,2020-01-01,WN,6276,ONT,SFO,363,3.896911,1.303333,10.743182,6.038972
2,2020-01-01,WN,4598,ONT,SJC,333,3.896911,1.303333,1.697337,-1.735007
3,2020-01-01,WN,4761,ONT,SJC,333,3.896911,1.303333,1.697337,-1.735007
4,2020-01-01,WN,5162,ONT,SJC,333,3.896911,1.303333,1.697337,-1.735007
...,...,...,...,...,...,...,...,...,...,...
150618,2020-01-07,DL,4813,DTW,JFK,509,2.489861,2.926685,4.556325,1.506689
150619,2020-01-07,DL,4814,GSP,LGA,610,2.489861,11.201005,10.85555,14.005916
150620,2020-01-07,DL,4815,ATL,XNA,589,2.489861,3.599076,0.568306,-1.419643
150621,2020-01-07,DL,4815,XNA,ATL,589,2.489861,4.144385,2.985783,1.136380
150622,2020-01-07,DL,4816,PWM,LGA,269,2.489861,16.165775,10.85555,18.593252

In [188]:
#drop the trained columns
testdata = testdata.drop(columns=['distance', 'avg_delay_carrier', 'origindelays', 'destdelays'])

In [189]:
testdata

,fl_date,mkt_unique_carrier,mkt_carrier_fl_num,origin,dest,predicted_delay
0,2020-01-01,WN,5888,ONT,SFO,6.038972
1,2020-01-01,WN,6276,ONT,SFO,6.038972
2,2020-01-01,WN,4598,ONT,SJC,-1.735007
3,2020-01-01,WN,4761,ONT,SJC,-1.735007
4,2020-01-01,WN,5162,ONT,SJC,-1.735007
...,...,...,...,...,...,...
150618,2020-01-07,DL,4813,DTW,JFK,1.506689
150619,2020-01-07,DL,4814,GSP,LGA,14.005916
150620,2020-01-07,DL,4815,ATL,XNA,-1.419643
150621,2020-01-07,DL,4815,XNA,ATL,1.136380
150622,2020-01-07,DL,4816,PWM,LGA,18.593252

In [195]:
#export to csv for submission
testdata.to_csv('submissionJaden.csv', index=False)